header {
    background-color: var(--color-2);
    width: 100%;
    height: 6rem;
    padding: 0 8rem 0 8rem;
    position: sticky;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    top: 0;
    z-index: 1000;
}

.logo-header {
    object-fit: contain;
    width: 10rem;
    cursor: pointer;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

ul {
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

li a {
    text-decoration: none;
    color: #677884;
    transition: 0.1s;
}

li a:hover {
    color: var(--color-3);
}

.orcamento-button {
    background-color: var(--color-3);
    color: var(--color-1);
    padding: 0.5rem 1.5rem;
    border-radius: 99rem;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    transition: 0.2s;
    cursor: pointer;
}

.orcamento-button:hover {
    transform: translateY(-2px);
}